.App {
  font-family: 'Microsoft Yahei';
}
.App > .Todo .todoList> li:nth-child(odd){
  background: #d8e6e7;
}
.App > .Todo .todoList> li:nth-child(even){
  background: #9dc3c1; 
}
.App > .Todo .todoList > li {
  border-radius: 4px;
}
.App .Todo {
  position: relative;
  color: #6e7783;
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.5);
  margin: 2em;
  padding: 0 1em;
  min-height: 30em;
  min-width: 32em;
  box-shadow: 0 0 2em hsla(0,0%,0%,0.15);
  opacity: 0.95;
}
.App > .Todo button {
  position: absolute;
  top: 20px;
  right: 10px;
  border: 1px solid #6e7783;
  background: #6e7783;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
.App > .Todo button:hover {
  background-color: #77aaad;
  border-color: #77aaad;
}
.App > .Todo p {
  font-size: 26px;
  text-align: center;
  margin: 30px;
}
.App > .Todo .icon-add {
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.App > .Todo .icon-add:hover {
  color: #77aaad;
}

