.TodoItem {
    padding: .5em;
    display: flex;
    align-items: center;
}

.TodoItem>.title {
    flex-grow: 1;
    padding: 0 .5em;
}
.TodoItem .icon-del {
    cursor: pointer;
}
.TodoItem .icon-del:hover {
    color: #6e7783;
}

.TodoItem input[type=checkbox]{
    -webkit-appearance: none; 
}
.TodoItem input[type=checkbox]:checked + label {
    background-image: url(http://oo7a0zmzl.bkt.clouddn.com/17-6-5/87148093.jpg);
    background-position: -1px -1px;
}
.TodoItem label {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #666;
    cursor: pointer;
}
