.UserDialog-Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserDialog {
    font-family: Calibri, 'Times New Roman';
}
.UserDialog > .signInOrSignUp > nav {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background-color: rgba(0,0,0,0.7);
    min-height: 300px;
    min-width: 700px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
    margin: 0 auto;
}
.UserDialog > .signInOrSignUp > nav .dialog {
    min-width: 300px;
}
.UserDialog > .signInOrSignUp > nav .dialog p {
    display: block;
    margin: 10px;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 100;
    max-width: 250px;
}
.UserDialog input[type='radio'] {
    -webkit-appearance: none;
}
.UserDialog > .signInOrSignUp > nav .dialog label {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 30px;
    margin: 10px;
    cursor: pointer;
    margin-left: 2em;
}
.UserDialog > .signInOrSignUp > nav .up {
    padding: 1em;
    margin-right: 40px;
}
.UserDialog > .signInOrSignUp > nav .in {
    margin-left: 90px;
    margin-right: -55px;
}
.UserDialog > .signInOrSignUp > nav .panes {
    position: absolute;
    top: -25px;
    left: 35px;
    min-height: 350px;
    min-width: 350px;
    background: #fff;
    padding: 0 1em 1em;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}

.UserDialog form p {
    margin: 25px 18px;
    color: #ff6565;
    font-size: 26px;
    font-weight: 100;
    max-width: 250px;
}
.UserDialog form > .row button {
    position: relative;
    left: 175px;
    background: #ff6565;
    color: #fff;
    margin-top: 10px; 
    padding: 8px 30px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}
.UserDialog form > .row {
    display: flex;
    padding: .5em 0;
}
.UserDialog form > .row input:focus {
    border-bottom: 2px solid #ff6565;
    transition: 300ms;
}
.UserDialog form > .row input {
    min-width: 285px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    outline: none;
}

::-webkit-input-placeholder {
    color: #ccc;
}
.UserDialog form > .row > label {
    position: relative;
    left: 280px;
    line-height: 40px;
    color: #ccc;
}
.UserDialog form > .row.actions a {
    display: inline-block;
    position: absolute;
    bottom: 80px;
    right: 45px;
}

/*
重置密码表单
*/
.UserDialog .forgotPassword {
    position: relative;
    min-height: 200px;
    min-width: 500px;
    background-color: #fff;
    border-radius: 10px;
}
.UserDialog .forgotPassword > h3 {
    padding: 1.5em;
    text-align: center;
    background-color: #f1f1f1;
    font-family: 'Microsoft Yahei';
    border-radius: 10px 10px 0 0;
}
.UserDialog .forgotPassword > form {
    padding: 0 1em 1em;
}
.UserDialog .forgotPassword > form .row input {
    min-width: 280px;
    margin: 20px auto;
    margin-left: 110px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    border-left: none;
    background-color: #fff;
}
.UserDialog .forgotPassword > form .icon-email2 {
    padding: 4px;
    position: absolute;
    top:20px;
    right: 167px;
    border: 1px solid #dcdcdc;
    border-radius: 5px 0 0 5px;
    font-size: 30px;
    background-color: #fff;
}
.UserDialog .forgotPassword > form .actions button {
    position: absolute;
    bottom: 60px;
    left: 110px;
}
.UserDialog .forgotPassword > form .actions span {
    position: absolute;
    bottom: 66px;
    left: 244px;
}

.UserDialog .forgotPassword > form .actions a {
    position: absolute;
    bottom: 66px;
    right: 140px;
    text-decoration: none;
    font-size: 14px;
    color: #ff6565;
}
